.botao-destaque-azul {
    -fx-background-color: linear-gradient(#4a90e2, #003d99);
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
}

.botao-destaque-vermelho {
    -fx-background-color: linear-gradient(#ff4d4d, #990000);
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
}

.botao-destaque-verde {
    -fx-background-color: linear-gradient(#66cc66, #336633);
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
}

.botao-destaque-amarelo {
    -fx-background-color: linear-gradient(#ffeb3b, #ffc107);
    -fx-text-fill: black;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
}

.linha-codigo {
    -fx-font-family: "Courier New";
    -fx-font-size: 20px;
    -fx-padding: 2px 4px;
    -fx-background-color: transparent;
}

.linha-destaque {
    -fx-background-color: yellow;
    -fx-text-fill: black;
}
